:root {
  --aguamarina: #00aaad;
  --verde: #a5cd39;
}

@font-face {
  font-family: 'Fugaz One', cursive;
  src: url(./assets/fonts/Fugaz_One/FugazOne-Regular.ttf);
}

@font-face {
  font-family: 'Raleway', sans-serif;
  src: url(./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf);
}

#contacto {
  margin: 20px 16px 20px 16px;
  border: 8px solid var(--aguamarina);
  padding: 8px 8px 20px 8px;
  border-radius: 22px;
  background-color: var(--aguamarina);
  box-shadow: 16px 20px 26px gray;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

h1 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.contact_form {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.contact_info {
  padding: 12px;
  border-radius: 4px;
  margin-right: 8px;
  margin-left: 16px;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

h3 {
  color: var(--verde);
  margin-bottom: 40px;
  font-family: 'Fugaz One', cursive;
}

h5 {
  color: var(--aguamarina);
  font-family: 'Fugaz One', cursive;
}

form {
  padding: 12px;
  border-radius: 4px;
  min-width: 50%;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

textarea {
  height: 220px;
}

.warning-feedback {
  margin-top: 4px;
  color: rgb(23, 3, 238);
  font-size: 500;
  font-size: 14px;
}

/* PISAR algunos estilos de bootstrap */
.input-group-text {
  background-color: whitesmoke;
  color: var(--aguamarina);
  font-weight: 600;
}
.btn-success {
  margin-top: 12px;
  background-color: var(--aguamarina);
  border: none;
}
.btn-success:hover {
  background-color: var(--verde);
}

dialog {
  padding: 1.5rem;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  width: 500px;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

dialog div {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

dialog div button {
  align-self: center;
  width: 100px;
}

@media only screen and (max-width: 650px) {
  #contacto {
    box-shadow: unset;
  }

  .contact_info {
    margin-right: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-left: 0px;
  }

  form {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }

  .contact_form {
    flex-direction: column;
  }

  dialog {
    width: 350px;
  }
}
