/*----------------------------------------------------------------*/
/* Hoja de estilos                                                */
/*----------------------------------------------------------------*/
/* Fuente para toda la página */
@font-face {
    font-family: GreatVictorian;
    src: url('../../assets//font/greatvictorian/GreatVictorian-Standard.otf')
      format('opentype');
  }

*{
    margin: 0;
    padding: 0;
}
/*----------------------------------------------------------------*/
/* Definimos el contenedor grid                                   */
/* Esta es la configuración para dispositivos de mayor tamaño     */
/*----------------------------------------------------------------*/
.container {
    display: grid;

    /* Uso un atajo para definir cuatro filas / una columna */
    grid-template: 100px auto auto auto / auto;

    /* Distribuimos el contenido en cada fila */
    grid-template-areas: "header"
                          "carro"
                         "main"
                         "footer";

    /* separamos los items con gap */
    gap: 20px;
}

/*----------------------------------------------------------------*/
/* Defino el nombre y color de cada area del grid                 */
/*----------------------------------------------------------------*/
.header    { grid-area: header;    background-color: white;  width: 100%; height: 120px ;}
.carro      { grid-area: carro;    background-color: white}
.main       { grid-area: main; background-color:#00aaad;color: white;}
.footer      { grid-area: footer;       background-color: #a5cd39;  }

/*----------------------------------------------------------------*/
/* Definimos la apariencia de cada item del grid                  */
/*----------------------------------------------------------------*/
.item {
    padding: 10px;
    color: darkgreen;
    border-radius: 10px;
}
.ancho{
    width: 80%;
    height: 120px;
    margin: auto;
}
.logo{
    width: 30%;
    height: 120px;
    float: left
}

/*----------------------------------------------------------------*/
/* Imagen con bordes redondeados, con limites de tamaño           */
/*----------------------------------------------------------------*/
img {
    border-radius: 30px;
    width: 100%;
    max-width:400px;
  }
img.logo{
    width: 150px;
    height: 150px;
}
/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo tablet (menos de 920px)     */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 920px) {
    .container {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: 200px auto auto 60px / 70% auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "header header"
            "main sidebar"
            "footer footer";
    }
}

/*----------------------------------------------------------------*/
/* Punto de corte para pantallas tipo celular (menos de 600px)    */
/*----------------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    .container {
        /* Uso un atajo para definir 5 filas / 1 columna */
        grid-template: 100px auto auto auto 60px / 100%;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header" "main" "sidebar" "footer";
    }
}