<!-- CONTACTO -->
<nav class="navbar">
  <div class="navbar_logo">
    <img
      src="../../assets/logo/DMLIMPLogo.png"
      alt="LOGO DM Limp"
      width="100"
      height="100"
    />
  </div>
  <div class="navbar_links">
    <div class="navbar_btn__container">
      <button class="navbar_btn navbar_enabled">
        <a href="./inicio.html">Inicio</a>
      </button>
    </div>
    <div class="navbar_btn__container">
      <button class="navbar_btn navbar_active">Contacto</button>
    </div>
    <div class="navbar_btn__container">
      <button class="navbar_btn navbar_enabled">Servicios</button>
    </div>
    <div class="navbar_btn__container">
      <button class="navbar_btn navbar_enabled">Donde trabajamos?</button>
    </div>
  </div>
</nav>

<!-- INICIO -->

<nav class="navbar">
  <div class="navbar_logo">
    <img
      src="../../assets/logo/DMLIMPLogo.png"
      alt="LOGO DM Limp"
      width="100"
      height="100"
    />
  </div>
  <div class="navbar_links">
    <div class="navbar_btn__container">
      <button class="navbar_btn navbar_active">
        <a href="./inicio.html">Inicio</a>
      </button>
    </div>
    <div>
      <button class="navbar_btn navbar_enabled">Contacto</button>
    </div>
    <div>
      <button class="navbar_btn navbar_enabled">Servicios</button>
    </div>
    <div>
      <button class="navbar_btn navbar_enabled">Donde trabajamos?</button>
    </div>
  </div>
</nav>

<!-- ¿DONDE TRABAJAMOS? -->

<!-- SERVICIOS -->
